.container-toolbar{
  background: rgb(63, 153, 243);
  color:white;
  height: 80px;
  .container-toolbar-title{
      margin-top: -2%;
  }


}
.container-card{
  height: calc(100vh - 176px);
  margin-left: 2%;
  margin-right: 2%;
  top: -34px;
  overflow-x: auto;
}
.mat-table {
  overflow: auto;
  max-height: 50vh;
}

.mat-column-action {
  text-align: right;
  justify-content: flex-end;
}
.mat-column-id_vei,.mat-column-id {
 max-width:50px;
}
.mat-column-art,.mat-column-db {
  max-width:70px;
 }
 .mat-column-s_des,.mat-column-contr {
  max-width:100px;
 }
.mat-column-cat {
  max-width:100px;
 }
 .mat-column-des {
  min-width:75%;
 }
 .mat-column-type_doc {
  min-width:50%;
 }
 .mat-column-des_span {
  min-width:75%;
 }

 .span-status{
  padding:0px 10px;
  border-radius: 10px;
  margin-right: 2px;;
}
.enabled{
  background-color: green;
  color: white;
}
.pending{
  background-color: green;
  color: white;
}
.opened{
  background-color: blue;
  color: white;
}
.closed{
  background-color: orange;
  color: white;
}
.canceled{
  background-color: red;
  color: white;
}
