
<h1 matDialogTitle>Inserimento Interruzione / Intervallo</h1>

<mat-dialog-content>
  <div  fxLayout="row" fxLayoutAlign="space-around start"fxLayout.xs="column" fxLayoutGap="20px">

    <div fxFlex="50">
      <h3>Lavorazioni in corso</h3>
      <mat-list >
          <mat-list-item *ngFor="let item of this.inprogressTasks">

              <div matLine>{{(item.type | typeOperation).text}}</div>
              <div matLine>Inizio: {{item.start | date:"dd/MM/YYYY HH:mm"}}</div>
              <div matLine>Durata: {{getDuration(item.start)}}</div>
          </mat-list-item>
      </mat-list>
    </div>
    <div fxFlex="50">
      <h3>Operatori impiegati</h3>
      <mat-list >
          <mat-list-item *ngFor="let emp of this.operators">
              <div matLine> {{emp.surname}} {{emp.name}}</div>
               <div matLine>Inizio: {{getStampData(emp.id)?.start | date:"dd/MM/YYYY HH:mm"}}</div>
              <div matLine>Durata: {{getDuration(getStampData(emp.id)?.start)}}</div>
          </mat-list-item>
      </mat-list>
    </div>
  </div>

<form [formGroup]="form">
  <mat-form-field style="width:100%; font-size:xx-large;" >
    <mat-label>Tipo Interruzione / Intervallo</mat-label>
    <mat-select formControlName="problemcheck" >

      <mat-option *ngFor="let p of problemsCheck" [value]="p.value">{{p.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width:100%; font-size:xx-large;" >
    <mat-label>Note</mat-label>
    <textarea matInput formControlName="note"></textarea>
  </mat-form-field>
</form>
</mat-dialog-content>

<mat-dialog-actions  fxLayout="row" fxLayout.xs="column"fxLayoutAlign="space-around center"  >
  <button  fxFlex class="dialog-button" (click)="onClickSubmit()" mat-raised-button color="warn" style="background-color:green;color:white;">Inserisci Intervallo</button>
  <button  fxFlex class="dialog-button" mat-raised-button  mat-dialog-close color="warn">Chiudi</button>

</mat-dialog-actions>
