<mat-toolbar class="ram-navbar">

  <span style="margin-left:30px;">
    <img src="/assets/images/logo.svg" alt="Home" style="max-height: 50px;margin-top:7px;">
  </span>
  <span style="margin-left: 20px;">
    <h3>Ministero

      <br>
      <span style="font-size: small;"> delle infrastrutture e dei trasporti</span>
    </h3>



  </span>
  <span class="spacer" style="margin-left:50px;">

    <ng-container *ngIf="this.userMe.role !== 'user'; else user">
      <button mat-button [routerLink]="['/istanze']"  ><mat-icon>home</mat-icon> Home</button>

      <button mat-button [matMenuTriggerFor]="menuB"  *ngIf="this.userMe.role === 'superadmin'"><mat-icon>person</mat-icon> Gestione Utenti</button>
          <mat-menu #menuB="matMenu">
              <button mat-menu-item [routerLink]="['/users/list']">Gestione Utenti</button>
          </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuC" *ngIf="this.userMe.role === 'superadmin'"><mat-icon>settings</mat-icon> Impostazioni</button>
          <mat-menu #menuC="matMenu">
              <button mat-menu-item [routerLink]="['/config/list']">Gestione Edizioni Istanze</button>
              <button mat-menu-item [routerLink]="['/config/create']">Nuova edizione</button>
              <button mat-menu-item [routerLink]="['/config/config']">Tabelle / Impostazioni</button>
          </mat-menu>

      <button mat-button [routerLink]="['/istanze/list']"><mat-icon>list</mat-icon> Istanze</button>
      <!--     <mat-menu #menuD="matMenu">
              <button mat-menu-item>Dashboard</button>
              <button mat-menu-item [routerLink]="['/istanze/list']">Istanze</button>
          </mat-menu> -->
  </ng-container>
  <ng-template #user>
    <button mat-button [routerLink]="['/istanze']"  ><mat-icon>home</mat-icon> Home</button>
  </ng-template>
  </span>
  <span class="header-logo"><img src="/assets/images/logo-ram-2018.png" alt="Home" style="max-height: 60px;margin-top:7px;"></span>
  <span>
    <button mat-raised-button (click)="onLogoutClick()"> Logout</button>

  </span>


</mat-toolbar>
