
 <mat-card class="container-tablet">





  <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start"  fxLayoutGap="30px">
    <div  fxFlex="30" fxFlex.xs="100">
      <h2>Attività programmate</h2>
    </div>
    <div  fxFlex="30" fxFlex.xs="100" style="text-align: center;">
      <h1>Tablet - {{this.userMe.surname}} {{this.userMe.name}}</h1>
    </div>
    <div  fxFlex="30" fxFlex.xs="100" style="text-align: right;">
      <h2>{{this.today | date:"dd/MM/YYYY"}}</h2>
    </div>
  </div>


  <div class="table-container" *ngIf="!isLoading">

    <table mat-table #table [dataSource]="tasks" multiTemplateDataRows>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsTasksWithExpand; sticky: true"></tr>
      <!--<tr mat-row *matRowDef="let row; columns: displayedColumnsTasks;"></tr>-->
      <!--expand start-->

      <tr mat-row *matRowDef="let element; columns: displayedColumnsTasksWithExpand;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">

          <button


          aria-label="expand row"
          class="tablet-button"
          mat-raised-button color="primary"
          (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()"
          >
            <span *ngIf="expandedElement !== element" >Visualizza Info</span>
            <span *ngIf="expandedElement === element">Visualizza Info</span>
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsTasksWithExpand.length">
            <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

              <app-detail-fitok
              *ngIf="expandedElement === element"
              [task]="element"
              [project]="getProjectInfo(element.idProject)"
              [fitok]="getFitokDataInfo(getProjectInfo(element.idProject).internalCode)"

              ></app-detail-fitok>
            </div>
          </td>
        </ng-container>
      <!--expand end-->

      <ng-container matColumnDef="internalCode">
        <th mat-header-cell *matHeaderCellDef> FITOK </th>
        <td mat-cell *matCellDef="let element"> {{getProjectInfo(element.idProject)?.internalCode}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Stato </th>
        <td mat-cell *matCellDef="let element">
          <span class="span-title" [class]="element.status"> {{(element.status | statusTask)?.text}} </span>

         <!--  <mat-chip-list >
              <mat-chip [class]="element.status" >
                {{(element.status | statusTask).text}}
              </mat-chip>
          </mat-chip-list> -->

          </td>
      </ng-container>

      <ng-container matColumnDef="projectType">
        <th mat-header-cell *matHeaderCellDef> Priorità </th>
        <td mat-cell *matCellDef="let element">
          <span class="span-title"
           [class.standard]="getProjectInfo(element.idProject)?.type === '2'"
           [class.urgent.blink]="getProjectInfo(element.idProject)?.type === '3'"
           [class.blink]="getProjectInfo(element.idProject)?.type === '3'"

           >  {{(getProjectInfo(element.idProject).type | priority)}}</span>

        <!--   <mat-chip-list >
            <mat-chip [class]="getProjectInfo(element.idProject).type" >
              {{(getProjectInfo(element.idProject).type | priority)}}
            </mat-chip>
        </mat-chip-list> -->

          </td>
      </ng-container>


    </table>

  </div>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

</mat-card>


<!--
<p *ngFor="let item of task">{{item.idProject}}</p>
<p>{{this.task | json}}</p>-->
