<mat-toolbar color="primary" class="italia">

  <span>
    <img src="/assets/images/min.png" alt="Home" style="max-height: 60px;vertical-align: middle;">
  </span>

  <!-- <span style="margin-left: 5px;">
    <h2>Ministero

      <br>
      <span style="font-size: small;"> delle infrastrutture e dei trasporti</span>
    </h2>



  </span> -->
  <span class="spacer">

  </span>
  <span>
    <img src="/assets/images/logo-ram-2018.png" alt="Home" style="max-height: 80px;">
  </span>
  <span class="spacer"></span>
</mat-toolbar>
<div class="container-main" fxLayout="row" fxLayout.xs="column"fxLayoutAlign="space-around center"  fxLayoutGap="30px">

  <mat-card  fxFlex="45" fxFlex.xs="100" style="padding: 10px;">
    <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-top:10%">
      <img  fxFlex="75"  src="/assets/images/img1.jpg" alt="Second slide">

    </div>
    <h2 style="color: #0059b3;text-align: center;">Decreto del Ministero delle Infrastrutture e dei Trasporti</h2>

    <p style="text-align:justify; margin:5% 15%" >
      Piattaforma per la rendicontazione delle domande presentate nell' ambito del DM 459 del 18 novembre 2021 secondo le modalità di cui all'art. 3 comma 7 del D.D. 155 12 aprile 2022  </mat-card>
  <mat-card  fxFlex="25" fxFlex.xs="100" style=" min-height: 50vh;">
    <mat-card-content>
      <h1 class="center" style="color: #0059b3;text-align: center;">Accedi all'area riservata</h1>
      <mat-divider></mat-divider>
     <form [formGroup]="form"  fxLayout="column" fxLayoutAlign="center center"  style="margin-top: 10px;">
      <mat-form-field style="width:80%" >
        <mat-icon matPrefix style="margin-right:10px;">email</mat-icon>
        <mat-label style="color:#06c;">Indirizzo email</mat-label>
        <input matInput placeholder="Inserire Email" type="email" formControlName="email">
        <mat-error *ngIf="form.get('email').invalid">Campo Non Valido</mat-error>
    </mat-form-field>

    <mat-form-field  style="width:80%">
      <mat-icon matPrefix style="margin-right:10px;">lock_outline</mat-icon>
      <mat-label style="color:#06c;">Password</mat-label>
      <input matInput placeholder="Inserire Password" minlength="8" type="password" formControlName="password">
  </mat-form-field>
     </form>
     <mat-divider></mat-divider>
     <div fxLayout="column" style="margin-top:10px;">
      <button fxFlex="40" (click)="onSubmitClick()"  fxFlexAlign="center" mat-raised-button color="primary"  class="login-btn" >Accedi</button>

     </div>
    </mat-card-content>

  </mat-card>
</div>
<section class="auto-grid">
