<h2 mat-dialog-title [innerText]="'users.modals.'+this.mode+'.title' | translate"></h2>
<mat-dialog-content>


    <div [formGroup]="form" >
      <div fxLayout="row"  fxLayout.xs="column" fxLayoutGap="30px;">

         <div fxFlex fxFlex.xs="100" >
          <mat-form-field>
            <input matInput type="text" [placeholder]="'users.modals.edit.fields.name' | translate" formControlName="businessName">
            <mat-error *ngIf="form.get('businessName').invalid" [innerHTML]="form.get('businessName') | errors"></mat-error>
            </mat-form-field>
         </div>

      </div>
      <div fxLayout="row"  fxLayout.xs="column" fxLayoutGap="30px;">
        <div xflex="100" fxLayout="column" fxFlex.xs="100" >
          <mat-form-field style="min-width:350px;" >
            <input matInput type="email" [placeholder]="'users.modals.edit.fields.email' | translate" formControlName="email" autocomplete="new-username">
            <mat-error *ngIf="form.get('email').invalid" [innerHTML]="form.get('email') | errors"></mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row"  fxLayout.xs="column" fxLayoutGap="30px;">
        <div fxFlex fxFlex.xs="100" >
          <mat-form-field >
            <mat-label [innerText]="'users.modals.edit.fields.role' | translate"></mat-label>
            <mat-select formControlName="role">
            <mat-option>---</mat-option>
            <mat-option *ngFor="let role of roles" [value]="role.value">
                {{role.label}}
            </mat-option>
            </mat-select>
        </mat-form-field>
        </div>

      </div>
      <mat-checkbox
      *ngIf="this.form.get('role').value !== 'user'"
      class="example-margin" formControlName="enablePec">Abilitazione Invio PEC</mat-checkbox>



      <div fxLayout="row"  fxLayout.xs="column" fxLayoutGap="30px;">
        <div fxFlex fxFlex.xs="100" >
            <mat-form-field>
              <input matInput type="password" [placeholder]="'users.modals.create.fields.password' | translate" formControlName="password" autocomplete="new-password">
              <mat-error *ngIf="form.hasError('notEqual')" [innerText]="'users.modals.create.errors.passwordsMismatch' | translate"></mat-error>
              <mat-error *ngIf="!form.hasError('notEqual') && form.get('password').invalid" [innerHTML]="form.get('password') | errors"></mat-error>
          </mat-form-field>
        </div>
        <div fxFlex fxFlex.xs="100" >
          <mat-form-field>
            <input matInput type="password" [placeholder]="'users.modals.create.fields.confirm' | translate" formControlName="confirm" autocomplete="new-password-confirm">
            <mat-error *ngIf="form.hasError('notEqual')" [innerText]="'users.modals.create.errors.passwordsMismatch' | translate"></mat-error>
            <mat-error *ngIf="!form.hasError('notEqual') && form.get('confirm').invalid" [innerHTML]="form.get('confirm') | errors"></mat-error>
        </mat-form-field>
        </div>
      </div>
    </div>



</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="warn" mat-dialog-close><mat-icon>close</mat-icon> Chiudi</button>
  <button mat-button color="primary" style="background-color:green; color:white" (click)="onSubmitClick()"  [innerText]="'users.modals.'+this.mode+'.action' | translate"></button>

</mat-dialog-actions>
