.container-toolbar{
  background: #0066cc40;
  height: 80px;
  .container-toolbar-title{
      margin-top: -2%;
  }


}
.container-card{
  height: calc(100vh - 176px);
  margin-left: 2%;
  margin-right: 2%;
  top: -34px;
  overflow-x: auto;
}
.mat-progress-bar {
  height: 30px;
}
.progress-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.mat-column-action {
  text-align: right;
  justify-content: flex-end;
}
.mat-column-type {
 width:40%
}
.span-status{
  padding:0px 10px;
  border-radius: 10px;
  text-align:center;
  max-width: max-content;
}

.enabled,.accepted,.sent,.completed{
  background-color: green;
  color: white;
}
.closed,.pending{
  background-color: orange;
  color: white;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking {
  animation: blink 1s infinite;
}
