<h1 mat-dialog-title>Fitok: <span class="span-title" >{{this.project.internalCode}}</span></h1>



  <mat-dialog-content>
    <form [formGroup]="formTask">

    <div fxLayout="row" >

      <div fxFlex="40">
        <h2 >Stato:
          <span class="span-title"
          [class]="this.formTask.controls.status.value"
          >
            {{(this.formTask.controls.status.value | statusTask)?.text}}
          </span>
        </h2>

      </div>
      <div fxFlex="40%">
        <button mat-fab (click)="viewFile('/assets/test.pdf')" color="warn" aria-label="Example icon button with a delete icon">
          <mat-icon>picture_as_pdf</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <ng-container *ngIf="this.task.status === 'scheduled'">
      <div fxLayout="row">
        <div fxFlex="50">
          <h3 style="font-size:x-large">Lavorazioni</h3>
          <mat-list>
              <mat-list-item *ngFor="let item of this.task.checkList" style="font-size:x-large">
                <mat-icon class="type-icon"  [class]="item.status" [innerText]="(item.status | statusTask).icon"></mat-icon>

             {{(item.type | typeOperation).text}}
             <!--    <button [class]="this.task.status" mat-raised-button color="primary"> {{(this.task.status | statusTask)?.text}}</button> -->
              </mat-list-item>
          </mat-list>
        </div>
        <div fxFlex="50">
          <h3 style="font-size:x-large">Operatori</h3>
        <mat-list>
              <mat-list-item *ngFor="let emp of this.task.operators" style="font-size:x-large">
                <div matLine>{{getDataOperator(emp)}}</div>
               <!--  <button mat-raised-button color="primary">Primary</button> -->
              </mat-list-item>
          </mat-list>
        </div>

      </div>

      <mat-divider></mat-divider>
    </ng-container>

    <div fxLayout="row" fxLayoutAlign="space-around start"  *ngIf="this.task.status !== 'scheduled'">
      <div fxFlex="30">
        <h3 style="font-size:x-large">Riepilogo attività</h3>
        <mat-list>
          <mat-list-item  style="font-size:large">
            <div matLine>Inizio Attività</div>
            <div matLine style="font-size:large">{{this.formTask.controls.dateStart.value | date:"dd/MM/YYYY HH:mm"}}</div>
          </mat-list-item>

          <mat-list-item  style="font-size:large" *ngIf="this.task.dateEnd">
            <div matLine>Fine Attività</div>
            <div matLine></div>
          </mat-list-item>
        </mat-list>

      </div>
      <div fxFlex="30">
        <h3 style="font-size:x-large">Checklist Lavorazioni</h3>
        <mat-list>
          <mat-list-item
            *ngFor="let type of this.task.checkList"
             style="font-size:large">
            <div matLine>{{(type.type | typeOperation)?.text}}
              <span class="span-title" [class]="type.status" style="float:right;">
                 {{(type.status | statusTask)?.text}}</span>
            </div>
            <div matLine *ngIf="type.start">
              Inizio: {{type.start | date:'dd/MM/YYYY HH:mm'}}</div>
            <div matLine  *ngIf="type.end">
              Fine: {{type.end | date:'dd/MM/YYYY HH:mm'}} <br>
              Durata: {{type.totalMin | MinutesToHours}}
            </div>

            <!-- <button
            [class]="getCheckListData(type).status"
            mat-raised-button color="primary"> {{(getCheckListData(type).status | statusTask)?.text}}</button> -->
          </mat-list-item>
      </mat-list>
      </div>
      <div fxFlex="30">
        <h3 style="font-size:large">Dettagli Operatori</h3>

       <!--        <mat-list>
                <mat-list-item *ngFor="let emp of this.task.operators"
                style="font-size:x-large">
                    <div matLine>{{getDataOperator(emp)}}</div>
                  <ng-container matLine *ngIf="stampingListView">
                    <ng-container *ngFor="let item of getStampData(emp)">

                      <div matLine style="font-size:large">Inizio: {{item.start | date:'dd/MM/YYYY HH:mm'}}</div>
                      <ng-container *ngIf="task.status === 'completed' || item.end">
                        <div matLine style="font-size:large">Fine:</div>
                        <div matLine style="font-size:large">Pausa:</div>
                      </ng-container>

                    </ng-container>

                  </ng-container>

                  <button mat-raised-button color="warn">Termina turno</button>
                 </mat-list-item>
            </mat-list> -->
            <mat-list>
              <mat-list-item *ngFor="let user of stampingEvents"  style="font-size:large">
                    <div matLine>{{getDataOperator(user.idDip)}}</div>
                    <div matLine>Inizio: {{user.start | date:'dd/MM/YYYY HH:mm'}}</div>

              </mat-list-item>
            </mat-list>
      </div>
    </div>

    <div fxLayout="row"  fxLayoutAlign="space-around start" *ngIf="this.task.interval && this.task.interval.length > 0">
      <div fxFlex="100">
        <h3 style="font-size:large">Riepilogo Intervalli / Interruzioni</h3>
        <table mat-table [dataSource]="this.task.interval" style="width:100%;" >

          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef> Inizio </th>
            <td mat-cell *matCellDef="let element"> {{element.start | date:"dd/MM/YYYY HH:mm"}} </td>
          </ng-container>

          <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef> Fine </th>
            <td mat-cell *matCellDef="let element"> {{element.end ? (element.end  | date:"dd/MM/YYYY HH:mm"): 'Lavorazione in pausa'}} </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{getPauseInfo(element.problemcheck)}} </td>
          </ng-container>

          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef> Durata </th>
            <td mat-cell *matCellDef="let element"> {{element.totalMin ? (element.totalMin| MinutesToHours ):'Lavorazione in pausa'}} </td>
          </ng-container>
          <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef> Note </th>
            <td mat-cell *matCellDef="let element"> {{element.note}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['start','end','type','duration','note']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['start','end','type','duration','note'];"></tr>
        </table>
      </div>


  </div>
</form>
  </mat-dialog-content>
  <mat-dialog-actions    >
    <div fxLayout="row wrap" fxLayoutGap="16px grid" style="width:100%;">
      <!-- <div fxFlex="33%">
        <button fxFlex (click)="onClickSubmit(this.task.status)" class="dialog-button"mat-raised-button style="background-color:green;color:white;">{{this.btnSubmit}}</button>

      </div>
      <div fxFlex="33%">
        <button fxFlex *ngIf="this.task.status === 'inprogress'" (click)="onClickPause()" class="dialog-button" mat-raised-button color="primary">Pausa Attività</button>
      </div>
      <div fxFlex="33%">
        <button fxFlex  class="dialog-button" mat-raised-button color="warn" (click)=" onClickClose()">Chiudi</button>
      </div> -->
      <div fxFlex="33%">
       <button fxFlex (click)="onClickSubmit(this.task.status)" class="dialog-button"mat-raised-button style="background-color:green;color:white;">{{this.btnSubmit}}</button>
      </div>
      <div fxFlex="33%">
        <button fxFlex  *ngIf="this.task.status === 'inprogress'" (click)="onClickPause()" class="dialog-button" mat-raised-button color="primary">Pausa Attività</button>
      </div>
      <div fxFlex="33%">
        <button fxFlex  class="dialog-button" mat-raised-button color="warn" (click)=" onClickClose()">Chiudi</button>
      </div>
    </div>

  </mat-dialog-actions>

