.container-toolbar{
  background: #00968817;
  height: 80px;
  .container-toolbar-title{
      margin-top: -2%;
  }
}
.container-card{
  min-height: calc(79vh);
  margin-left: 2%;
  margin-right: 2%;
  top: -22px;
}

.span-title{
  background-color: #dbffdb;
  color: #086f38;
  padding: 5px 10px;
  border-radius: 10px;
}

.standard{
  background-color: #daefe0;
  color: green;
  min-height: 46px;
  //font-size: xx-large;
}
.urgent{
  background-color: #efdae4;
  color: red;
  min-height: 46px;
 // font-size: xx-large;
}
.blink {
  animation: blinker 2s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
