<mat-card *ngIf="!isLoading">
  <mat-card-header>
    <div matCardAvatar><mat-icon
      class="type-icon" [class]="this.task.status"
      >{{(this.task.status| statusTask)?.icon}}</mat-icon></div>
    <mat-card-title>{{getDesk(this.task.idDesk).name}} - {{project.internalCode}} </mat-card-title>
    <mat-card-subtitle>{{'project.dashboard.priority' | translate}}
      <span class="span-title"
        [class.standard]="project.type === '2'"
        [class.urgent.blink]="project.type === '3'"
        [class.blink]="project.type === '3'"
        [innerText]="project.type | priority"
      >
      </span>
    </mat-card-subtitle>
  </mat-card-header>

    <mat-card-content   [@slideInOut]="animationState">
      <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start"  fxLayoutGap="30px">
        <div  fxFlex="50" fxFlex.xs="100">
          <h4>Lavorazioni</h4>
          <mat-list dense>
              <mat-list-item *ngFor="let item of this.task.checkList">
                <mat-icon class="type-icon" mat-list-icon [class]="item.status">{{(item.status | statusTask).icon}}</mat-icon>
                <div matLine>{{(item.type | typeOperation)?.text}}</div>
              </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-button  (click)="toggleShowDiv()" >Dettagli</button>

    </mat-card-actions>

</mat-card>
