<mat-toolbar class="container-toolbar">
  <span class="container-toolbar-title" [innerText]="'Inserimento Fasi Lavorazione'"></span>
  <span class="example-spacer"></span>
  <span style="    margin-top: -21px;">
  <mat-button-toggle-group

        (change)="onChange($event)"
        aria-label="Font Style">
          <mat-button-toggle *ngFor="let v of modeView" [value]="v.value" [checked]="v.value ==='desktop'?true:false">
            <mat-icon>{{v.icon}}</mat-icon>
          </mat-button-toggle>
</mat-button-toggle-group>
</span>
</mat-toolbar>
<ng-container *ngIf="this.view === 'desktop'; else tablet">
  <mat-card class="container-card">



    <mat-card-content>
  <ng-container>
  <form [formGroup]="form">
    <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start"  fxLayoutGap="30px">
      <div  fxFlex="50" fxFlex.xs="100">
        <mat-form-field  style="width:100%">
          <mat-label>Fitok</mat-label>
          <input matInput placeholder="Inserire Fitok" formControlName="fitok">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start"  fxLayoutGap="30px">

        <div  fxFlex="20"  fxFlex.xs="100">
          <mat-form-field style="width:100%">
            <mat-label>Postazione</mat-label>
            <mat-select formControlName="desk">
              <mat-option>Seleziona una postazione</mat-option>
              <mat-option *ngFor="let desk of dropDesk" [value]="desk.name">{{desk.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div  fxFlex="20" fxFlex.xs="100">

          <mat-form-field style="width:100%">
            <mat-label>Operatore</mat-label>
            <mat-select formControlName="operator">
              <mat-option>Seleziona un'operatore</mat-option>
              <mat-option *ngFor="let op of dropOperator" [value]="op.name">{{op.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>


  <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start"  fxLayoutGap="30px" >
    <mat-card fxFlex="20" fxFlex.xs="100">
      <mat-card-title>Inizio</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content fxLayout="column" fxLayout.xs="column"fxLayoutAlign="start">
        <mat-form-field fxFlex=100 appearance="standard" >
          <mat-label>Data </mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="dateStart">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>

      </mat-form-field>
      <mat-form-field  fxFlex=100 appearance="standard" style="width: 90px;">
        <input matInput
                formControlName="timeStart"
                format="24"
                [ngxMatTimepicker]="pickerA"
                placeholder="Orario"
                readonly />
        <mat-icon matSuffix (click)="pickerA.open()">
            schedule
        </mat-icon>

    </mat-form-field>
    <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>
      </mat-card-content>
    </mat-card>
    <ng-container *ngIf="enablePause; else pause">
      <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start"  fxLayoutGap="30px">
        <div style="padding-top:10px">
          <button mat-raised-button color="primary"(click)="this.enablePause = false"  style="background-color:#15703d">Inserisci Pausa</button>
        </div>

      </div>
    </ng-container>
    <ng-template #pause>
      <mat-card fxFlex="20" fxFlex.xs="100" *ngIf="showPause">
        <mat-card-title>Inizio Pausa</mat-card-title>
          <mat-divider></mat-divider>
          <mat-card-content fxLayout="column" fxLayout.xs="column"fxLayoutAlign="start">

              <mat-form-field  appearance="standard" >
                  <mat-label>Data</mat-label>
                  <input matInput [matDatepicker]="picker2" [min]="minDate" formControlName="pauseStart">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              <mat-form-field   appearance="standard" style="width: 90px;">
                <input matInput
                        formControlName="timePauseStart"
                        format="24"
                        [min]="minTimeA"
                        [ngxMatTimepicker]="pickerB"
                        placeholder="Orario"
                        readonly />
                <mat-icon matSuffix (click)="pickerB.open()">
                    schedule
                </mat-icon>
            </mat-form-field>
              <ngx-mat-timepicker #pickerB></ngx-mat-timepicker>

        </mat-card-content >
      </mat-card>
      <mat-card fxFlex="20" fxFlex.xs="100" *ngIf="this.form.controls.pauseStart.value">
        <mat-card-title>Ripresa</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content fxLayout="column" fxLayout.xs="column"fxLayoutAlign="start">
          <mat-form-field appearance="standard" >
            <mat-label>Data </mat-label>
            <input matInput [matDatepicker]="picker3" [min]="minDate" formControlName="pauseEnd">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>

        </mat-form-field>
        <mat-form-field appearance="standard" style="width: 90px;">
          <input matInput
                  formControlName="timePauseEnd"
                  format="24"
                  [min]="minTimeB"
                  [ngxMatTimepicker]="pickerC"
                  placeholder="Orario"
                  readonly />
          <mat-icon matSuffix (click)="pickerC.open()">
              schedule
          </mat-icon>

      </mat-form-field>
      <ngx-mat-timepicker #pickerC></ngx-mat-timepicker>
      <mat-checkbox
      formControlName="problemcheck"
      class="example-margin"
      [checked]="false"
      [color]="'primary'"

     >
    Imprevisto / Manutenzione
    </mat-checkbox>
    <div style="padding-top:10px">
      <button mat-raised-button color="primary" (click)="addInterval()"  style="background-color:#15703d">Inserisci ulteriore pausa</button>
    </div>
        </mat-card-content>
      </mat-card>
    </ng-template>
    <mat-card fxFlex="20" fxFlex.xs="100" *ngIf="showEnd">
      <mat-card-title>Fine Attività</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content fxLayout="column" fxLayout.xs="column"fxLayoutAlign="start">
        <mat-form-field appearance="standard" >
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="picker4" [min]="minDate" formControlName="dateEnd">
          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
          <mat-datepicker #picker4></mat-datepicker>

      </mat-form-field>
      <mat-form-field appearance="standard" style="width: 90px;">
        <input matInput
                formControlName="timeEnd"
                format="24"
                [min]="minTimeC"
                [ngxMatTimepicker]="pickerD"
                placeholder="Orario"
                readonly />
        <mat-icon matSuffix (click)="pickerD.open()">
            schedule
        </mat-icon>

    </mat-form-field>
    <ngx-mat-timepicker #pickerD></ngx-mat-timepicker>
      </mat-card-content>
    </mat-card>
  </div>



  <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start"  fxLayoutGap="30px">
    <mat-list dense fxFlex="20">
      <mat-list-item *ngIf="this.record.desk">
        <div mat-line>Postazione</div>
        <div mat-line> {{this.record.desk}} </div>
      </mat-list-item>
      <mat-list-item *ngIf="this.record.operator">
        <div mat-line>Operatore</div>
        <div mat-line> {{this.record.operator??'' }} </div>
      </mat-list-item>
      <mat-list-item *ngIf="this.record.fitok">
        <div mat-line>Fitok</div>
        <div mat-line> {{this.record.fitok}} </div>
      </mat-list-item>
    </mat-list>
    <mat-list dense fxFlex="20">
      <mat-list-item *ngIf="this.record.phaseStartDate">
        <div mat-line>Inizio</div>
        <div mat-line> {{this.record.phaseStartDate| date:"dd/MM/YYYY HH:mm"}} </div>
      </mat-list-item>
      <mat-list-item *ngIf="this.record.phaseEndDate">
        <div mat-line>Fine</div>
        <div mat-line> {{this.record.phaseEndDate| date:"dd/MM/YYYY HH:mm"}} </div>
      </mat-list-item>
      <mat-list-item *ngIf="this.record.totalTime">
        <div mat-line>Durata</div>
        <div mat-line> {{this.record.totalTime| MillisecondsToHours}} </div>
      </mat-list-item>
    </mat-list>
    <mat-list dense fxFlex="20"*ngIf="this.interval.length > 0" >
      <div mat-subheader>Pause / Intervalli</div>
      <mat-list-item *ngFor="let p of this.interval">
        <div mat-line>da: {{p.start | date:"dd/MM/YYYY HH:mm"}}</div>
        <div mat-line>al: {{p.end | date:"dd/MM/YYYY HH:mm"}}</div>
        <div mat-line>durata: {{p.end-p.start | MillisecondsToHours}} </div>
        <div mat-line>tipo {{p.problemcheck?'Manutenzione':'Break'}}</div>

      </mat-list-item>

    </mat-list>



  </div>





  <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start"  fxLayoutGap="30px" *ngIf="this.form.controls.timeEnd.value">
    <div style="padding-top:10px">
      <button mat-raised-button color="primary" (click)="onClickSubmit()" style="background-color:#15703d">Salva</button>
    </div>
  </div>

  </form>

  <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start"  fxLayoutGap="30px" >
    <div fxFlex="100" class="table-container" *ngIf="showTable" >
      <table mat-table #table [dataSource]="dataSource" style="width:100%" >
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>
      <ng-container matColumnDef="desk">
        <th mat-header-cell *matHeaderCellDef> Postazione </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{element.desk}} </td>
    </ng-container>
      <ng-container matColumnDef="operator">
          <th mat-header-cell *matHeaderCellDef> Operatore </th>
          <td mat-cell *matCellDef="let element"> {{element.operator}} </td>
      </ng-container>
      <ng-container matColumnDef="fitok">
        <th mat-header-cell *matHeaderCellDef> Fitok </th>
        <td mat-cell *matCellDef="let element"> {{element.fitok }} </td>
      </ng-container>
      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> Inizio </th>
        <td mat-cell *matCellDef="let element"> {{element.phaseStartDate | date:"dd/MM/YYYY HH:mm"}} </td>
      </ng-container>
      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef> Fine </th>
        <td mat-cell *matCellDef="let element"> {{element.phaseEndDate | date:"dd/MM/YYYY HH:mm"}} </td>
      </ng-container>
      <ng-container matColumnDef="pause">
        <th mat-header-cell *matHeaderCellDef> Pause </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.pause.length > 0; else nopause">
            {{countPause(element.pause) | MillisecondsToHours}} h
          </ng-container>
          <ng-template #nopause>
            0:00 h
          </ng-template>

        </td>
      </ng-container>
      <ng-container matColumnDef="typePause">
        <th mat-header-cell *matHeaderCellDef> Tipo Pausa </th>
        <td mat-cell *matCellDef="let element">

        </td>
      </ng-container>
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Durata </th>
        <td mat-cell *matCellDef="let element"> {{element.totalTime | MillisecondsToHours}} h</td>
      </ng-container>
      </table>
    </div>
  </div>
  </ng-container>


    </mat-card-content>

  </mat-card>
</ng-container>

<ng-template #tablet>
  <mat-card class="container-card">
    <form [formGroup]="form">
      <div fxLayout="column" fxLayout.xs="column"fxLayoutAlign="start" *ngIf="formFitok">

        <div  fxFlex="100" fxFlex.xs="100">
          <mat-form-field  style="width:100%;font-size: xx-large;">
            <mat-label>Fitok</mat-label>
            <input matInput placeholder="Inserire Fitok" formControlName="fitok">
          </mat-form-field>
        </div>

        <div  fxFlex="100"  fxFlex.xs="100">
          <mat-form-field style="width:100%;font-size: xx-large;">
            <mat-label>Postazione</mat-label>
            <mat-select formControlName="desk">
              <mat-option>Seleziona una postazione</mat-option>
              <mat-option *ngFor="let desk of dropDesk" [value]="desk.name">{{desk.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div  fxFlex="20" fxFlex.xs="100">

          <mat-form-field style="width:100%;font-size: xx-large;">
            <mat-label>Operatore</mat-label>
            <mat-select formControlName="operator">
              <mat-option>Seleziona un'operatore</mat-option>
              <mat-option *ngFor="let op of dropOperator" [value]="op.name">{{op.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
      <div >

        <mat-list fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start" *ngIf="tabletSummary">
            <mat-list-item  fxFlex="25">
                <div mat-line>Fitok</div>
                <div mat-line>{{this.form.controls.fitok.value}}</div>
            </mat-list-item>
            <mat-list-item  fxFlex="25">
                <div mat-line>Postazione</div>
                <div mat-line>{{this.form.controls.desk.value}}</div>
            </mat-list-item>
            <mat-list-item  fxFlex="25">
              <div mat-line>Operatore</div>
              <div mat-line>{{this.form.controls.operator.value}}</div>
          </mat-list-item>
           <mat-list-item  fxFlex="25" *ngIf="!startBtn">
              <div mat-line>Inizio</div>
              <div mat-line> {{this.record.phaseStartDate| date:"dd/MM/YYYY HH:mm"}} </div>
            </mat-list-item>

            <mat-list-item  fxFlex="25" *ngIf="!startBtn">
              <div mat-line>Stato Lavorazione</div>
              <div mat-line> {{this.statusTablet}} </div>
            </mat-list-item>
        </mat-list>
      </div>

      <div div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">

          <div fxFlex="grow"*ngIf="startBtn">
            <button mat-raised-button color="primary" class="tablet-button success" (click)="onClickTabletAction('startPhase')">Inizio</button>
          </div>
          <div fxFlex="grow" *ngIf="startPauseBtn">
            <button mat-raised-button color="primary" class="tablet-button success" (click)="onClickTabletAction('startPause')">Inizio Pausa</button>
          </div>
          <div fxFlex="grow" *ngIf="endPauseBtn">
            <button mat-raised-button color="primary" class="tablet-button success"  (click)="onClickTabletAction('endPause')">Fine Pausa</button>
          </div>
          <div fxFlex="grow" *ngIf="endBtn">
            <button mat-raised-button color="primary" class="tablet-button success"  (click)="onClickTabletAction('endPhase')">Fine Lavorazione</button>
          </div>
      </div>





    </form>
  </mat-card>
</ng-template>

