<mat-card class="container-tablet">


  <!-- <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start"  fxLayoutGap="30px">
    <div  fxFlex="30" fxFlex.xs="100">
      <h2>Attività programmate</h2>
    </div>
    <div  fxFlex="30" fxFlex.xs="100" style="text-align: center;">

    </div>
    <div  fxFlex="30" fxFlex.xs="100" style="text-align: right;">
      <h2>{{this.today | date:"dd/MM/YYYY"}}</h2>
    </div>
  </div>

 -->

  <div class="table-container" *ngIf="!isLoading">
    <table mat-table #table [dataSource]="tasks" >

      <tr mat-header-row *matHeaderRowDef="displayedColumnsTasks; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsTasks;"></tr>
      <!--expand start-->


      <ng-container matColumnDef="desk">
        <th mat-header-cell *matHeaderCellDef> Banco </th>
        <td mat-cell *matCellDef="let element"> {{getDeskData(element.idDesk)}} </td>
      </ng-container>

      <ng-container matColumnDef="operators">
        <th mat-header-cell *matHeaderCellDef> Operatori </th>
        <td mat-cell *matCellDef="let element">
          <p *ngFor="let item of element.operators">{{getEmpData(item)}}</p>
        </td>
      </ng-container>


      <ng-container matColumnDef="internalCode">
        <th mat-header-cell *matHeaderCellDef> FITOK </th>
        <td mat-cell *matCellDef="let element"> {{getProjectInfo(element.idProject)?.internalCode}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Stato </th>
        <td mat-cell *matCellDef="let element">
          <span class="span-title" [class]="element.status"> {{(element.status | statusTask)?.text}}</span>

         <!--  <mat-chip-list >
              <mat-chip [class]="element.status" >
                {{(element.status | statusTask).text}}
              </mat-chip>
          </mat-chip-list> -->

          </td>
      </ng-container>

      <ng-container matColumnDef="projectType">
        <th mat-header-cell *matHeaderCellDef> Priorità </th>
        <td mat-cell *matCellDef="let element">
          <span class="span-title" [class]="getProjectInfo(element.idProject)?.type">  {{(getProjectInfo(element.idProject).type | priority)}}</span>

        <!--   <mat-chip-list >
            <mat-chip [class]="getProjectInfo(element.idProject).type" >
              {{(getProjectInfo(element.idProject).type | priority)}}
            </mat-chip>
        </mat-chip-list> -->

          </td>
      </ng-container>


    </table>
  </div>
</mat-card>
