.container-tablet{

  min-height: 85vh;
  margin-left: 2%;
  margin-right: 2%;
  top: 1vh;
  max-height: 85vh;
}
.table-container{
  overflow: auto;
  max-height: 75vh;

}
.mat-table{
  width:100%;
}
.mat-column-status, .mat-column-projectType,.mat-column-desk,.mat-column-operators{
  font-size:large;
}
.mat-column-internalCode{
  font-size:large;
}
.mat-row{

  height: 100px;
}
.span-title{
  background-color: #dbffdb;
  color: #086f38;
  padding: 5px 10px;
  border-radius: 10px;
}


.paused{
  background-color: #efdae4;
  color: #6f082a;
  min-height: 46px;
  font-size: large;
}
.completed{
  background-color: #daefe0;
  color: green;
  min-height: 46px;
  font-size: large;
}

.scheduled{
  background-color: #dae1ef;
  color: #08276f;
  min-height: 46px;
  font-size: large;
}
.inprogress{

    background-color: #ffa50014;
    color: orange;
    min-height: 46px;
    font-size: large;

}


