
.type-icon{
  width: 40px !important;
  height: 40px !important;
  font-size: 40px !important;
  margin-right: 3%;
}
.scheduled{
  background-color: #dae1ef;
  color: #08276f;
}
.inprogress{
  background-color: #ffa50014;
  color: orange;
}
.paused{
  background-color: #efdae4;
  color: #6f082a;
}
.completed{
  background-color: #daefe0;
  color: green;
}
.sel-btn{
  width: 100%;
  font-size: x-large;
  padding:3%;
}
