<mat-toolbar class="container-toolbar">
  <span class="container-toolbar-title">Gestione Istanze</span>
</mat-toolbar>

<mat-card class="container-card" >
  <mat-card-content>

    <form [formGroup]="filters">
         <div class="row-custom">

            <mat-form-field class="col-custom col-custom-3" appearance="legacy">
              <mat-label>Ricerca</mat-label>
              <input matInput  formControlName="term"[placeholder]="'Cerca per pec richiedente o ragione sociale'">
            </mat-form-field>

            <mat-form-field class="col-custom col-custom-2"appearance="legacy">
              <mat-label>Id RAM</mat-label>
              <input matInput  formControlName="id_ram" [placeholder]="'Cerca per id RAM'">
            </mat-form-field>

            <mat-form-field class="col-custom col-custom-2">
              <mat-label>Stato Istanza</mat-label>
              <mat-select formControlName="statoIstanza">
                <mat-option *ngFor="let type of this.rendstatus" [value]="type.value">
                  {{type.view}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-custom col-custom-2">
              <mat-label>Edizione Istanza</mat-label>
              <mat-select formControlName="type">
                  <mat-option>Tutte le edizioni</mat-option>
                <mat-option *ngFor="let t of this.type" [value]="t.id">
                  {{t.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
<!--
            <mat-form-field fxFlex="15">
              <mat-label>Stato Istruttoria</mat-label>
              <mat-select  formControlName="istrActive">
                <mat-option *ngFor="let item of filterOptionsDescriptors.statusIstance" [value]="item.value">
                  {{item.title}}
                </mat-option>
            </mat-select>
            </mat-form-field> -->

         </div>
    </form>
    <div class="row-custom">
      <h4 *ngIf="!isLoading">Totale Istanze: <span style="font-weight: bold;">{{totRecord}}</span></h4>
    </div>
    <div class="table-container" (scroll)="timeoutScroll($event)">
      <table mat-table [dataSource]="dataSource" *ngIf="!isLoading">
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <ng-container matColumnDef="edition">
          <mat-header-cell *matHeaderCellDef> Edizione </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngIf="type && type.length > 0">
              {{getInfoEdizione(element.tipo_istanza)}}
            </ng-container>

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="idram">
          <mat-header-cell *matHeaderCellDef> Id RAM </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.id_ram}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dateSend">
          <mat-header-cell *matHeaderCellDef> Data Invio </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.data_invio | date:"dd/MM/yyyy HH:mm:ss"}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="businessName">
          <mat-header-cell *matHeaderCellDef> Ragione Sociale </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.ragione_sociale}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pecImpresa">
          <mat-header-cell *matHeaderCellDef> Pec Impresa </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.pec}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Stato Istanza </mat-header-cell>
          <mat-cell *matCellDef="let element">

            <ng-container *ngIf="getStatusRendicontazione(element) as rendStatus">
              <div class="status-container">
                <span class="span-status" [class]="rendStatus.status"
                [innerText]="rendStatus.status | rendStatus"></span>
                <p>{{rendStatus.pData}} {{rendStatus.date?(rendStatus.date | date:"dd/MM/yyyy HH:mm"):null}}</p>
              </div>
            </ng-container>


            <!-- <div class="status-container">
              <span class="span-status" [class]="element.rendstatus?element.rendstatus:'pending'"
              [innerText]="element.rendstatus | rendStatus"></span>

              <ng-container *ngIf="element.rendstatus === 'closed'">

                <p>chiusa il: {{element.dateend | date:"dd/MM/yyyy HH:mm"}}</p>
              </ng-container>
              <ng-container *ngIf="element.rendstatus === 'opened'">

                <p>avviata il: {{element.daterendstart | date:"dd/MM/yyyy HH:mm"}}</p>
              </ng-container>
              <ng-container *ngIf="element.rendstatus === 'canceled'">

                <p>annullata il: {{element.datecanceled | date:"dd/MM/yyyy HH:mm"}}</p>
              </ng-container>
            </div> -->



            <!--<ng-container *ngIf="element.rendstatus === 'canceled'">
                     <br>
                     <p>annullata da impresa</p>

             </ng-container>-->
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="istrStatus">
          <mat-header-cell *matHeaderCellDef> Stato Istruttoria </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div class="status-container" *ngIf="getStatusRendicontazione(element).status !== 'expired'; else expired">
              <ng-container *ngIf="getStatusIstruttoria(element) as statusIstr ">
                <ng-container *ngIf="!element.statusreport;else rep">
                  <span class="span-status"
                  [class]="statusIstr.style"
                  [innerText]="statusIstr.status | istruttoriaStatus">
                </span>
                </ng-container>
                <ng-template #rep>
                  <span class="span-status"
                  [class]="statusIstr.style"
                  [innerText]="statusIstr.text">
                </span><br>
                <span class="span-status"
                [class]="statusIstr.style"
                [innerText]="statusIstr.status | statusReport">
              </span>
                </ng-template>

              </ng-container>


            </div>

            <ng-template #expired>
              <ng-container  *ngIf="getStatusRendicontazione(element) as rendStatus">
                <div class="status-container">
                  <span class="span-status" [class]="rendStatus.status"
                  [innerText]="rendStatus.status | rendStatus"></span>
                </div>
              </ng-container>

            </ng-template>

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element; let index = index">
            <ng-container

            *ngIf="!element.rendstatus || element.rendstatus !== 'canceled'; else canceled">
            <button
            mat-icon-button
            color="primary"
            style="color:green;"
            matTooltip="Visualizzazione Utente"
            matTooltipPosition="above"
            aria-label="Example icon button with a home icon"
            [routerLink]="['/istanze','edit',element.id_ram]"
          >
          <mat-icon>find_in_page</mat-icon>
        </button>


        <button
            mat-icon-button
            color="primary"
            matTooltip="Visualizzazione Backoffice"
            matTooltipPosition="above"
            aria-label="Example icon button with a home icon"
            (click)="goToIstanza(element.id_ram)"

          >
          <mat-icon>admin_panel_settings</mat-icon>
        </button>


        <button
            mat-icon-button
            color="warn"
            matTooltip="Annullamento"
            matTooltipPosition="above"
            aria-label="Example icon button with a home icon"
            (click)="onClickCancelIstanza(element, index,'edit')"
          >
          <mat-icon>cancel</mat-icon>
        </button>


            </ng-container>
            <ng-template #canceled>

              <button
              mat-icon-button
              color="warn"
              matTooltip="Annullamento"
              matTooltipPosition="above"
              aria-label="Example icon button with a home icon"
              (click)="onClickCancelIstanza(element, index,'show')"
            >
            <mat-icon>cancel</mat-icon>
          </button>

            </ng-template>








          </mat-cell>
        </ng-container>





      </table>

      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    </div>

  </mat-card-content>

</mat-card>
