.container-toolbar{
  background: #0066cc40;
  height: 80px;
  .container-toolbar-title{
      margin-top: -2%;
  }


}
// .large-panel.mat-select-panel {
//   background: rgba(255, 0, 0, 0.5);
// }
.mat-select-panel {
   max-width:fit-content !important;
}
.container-card{
  min-height: calc(79vh);
  margin-left: 2%;
  margin-right: 2%;
  top: -22px;
}
.table-container{
  overflow: auto;
  max-height: 62vh;

}
.mat-table{
  width:100%;
}

.mat-column-action {
  text-align: right;
  justify-content: flex-end;
}
.mat-column-idram {
 max-width:60px;
}
.span-status{
  margin:2px 0px;
  padding:0px 10px;
  border-radius: 10px;
  text-align:center;

}
.enabled,.accepted,.sent,.completed{
  background-color: green;
  color: white;
}


.opened,.generated{
  background-color: lightseagreen;
  color: white;
}
.closed,.pending{
  background-color: orange;
  color: white;
}
.expired{
  background-color: violet;
  color: white;
}
.prepared{
  color:white;
  background-color: blue;
}
.canceled{
  background-color: red;
  color: white;
}
.status-container{
  width: -webkit-fill-available;
  display:flex;
  flex-direction: column;
 // align-items: center;
 // align-content: space-around;
  padding:5px;

}
