.container-toolbar{
  background: rgb(63, 153, 243);
  color:white;
  height: 80px;
  .container-toolbar-title{
      margin-top: -2%;
  }


}
.container-card{
  height: calc(100vh - 176px);
  margin-left: 2%;
  margin-right: 2%;
  top: -34px;
  overflow-x: auto;
}
.mat-table {
  overflow: auto;
  max-height: 50vh;
}

.mat-column-action {
  text-align: right;
  justify-content: flex-end;
}
.mat-column-id_vei,.mat-column-id {
 max-width:50px;
}
