<div class="row-custom" >

  <div class="col-custom col-custom-3">
    <mat-selection-list #catlist (selectionChange)="onSelection($event, catlist.selectedOptions)"[multiple]="false">
      <ng-container *ngFor="let v of this.typeIstance.typeVei">
          <ng-container *ngIf="v.catVei === this.category && this.istanza[v.campoDb] > 0" >
              <mat-list-option style="height:auto;padding:5px;color:#0059b3" [value]="v" role="listitem">
                <div class="row-custom" >
                  <div class="col-custom col-custom-8" style="padding:0">
                    {{v.longDescription}}

                  </div>
                  <div class="col-custom col-custom-4" style="padding:0">
                    {{this.istanza[v.campoDb]}} Veicol{{this.istanza[v.campoDb]>1 ?'i':'o'}}
                  </div>
                  <div class="col-custom col-custom-12" style="padding:0" *ngIf="blinkBadgeIntegrazione('type',v)" >
                    <span class="span-status pending blinking" >Richiesta Integrazioni</span>

                  </div>
                </div>
              </mat-list-option>
              <mat-divider></mat-divider>
          </ng-container>
      </ng-container>
  </mat-selection-list>
  </div>
  <div class="col-custom col-custom-9">
    <ng-container *ngIf="!catlist.selectedOptions.selected[0]?.value; else selOption">
      <div class="row-custom" >
        <div class="col-custom">
           <h4> <mat-icon>arrow_back</mat-icon>Seleziona un tipo veicolo</h4>
        </div>
      </div>
    </ng-container>
    <ng-template #selOption>
      <ng-container *ngIf="this.listVeiFiltered.length > 0; else newVei">
        <div class="row-custom" *ngIf="(this.listVeiFiltered.length < this.istanza[catlist.selectedOptions.selected[0].value.campoDb]) && (this.rendicontazione.enable || this.enableRendicontazione)">
          <div  class="col-custom">
            <button mat-raised-button  style="margin:15px;" (click)="onClickInsertVei('create')" color="primary">Inserisci nuovo veicolo</button>
          </div>
        </div>
        <div class="row-custom">
          <div  class="col-custom col-custom-12">
            <mat-accordion class="vei-headers-align">

              <mat-expansion-panel *ngFor="let v of this.listVeiFiltered; let index = index" (opened)="getAllegatiVeicolo(v)" >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Veicolo #{{index +1}} - Targa {{v.licensePlate}}
                    </mat-panel-title>
                    <mat-panel-description >
                        <span>
                            <mat-icon
                            style="color:red"
                            [style.color]="checkVeiData(v).color"
                            >
                            {{checkVeiData(v).icon}}</mat-icon>
                            {{checkVeiData(v).text}}
                        </span>
                          <span *ngIf="blinkBadgeIntegrazione('veicolo',v)" class="span-status pending blinking" >Richiesta Integrazioni</span>


                        <ng-container *ngIf="checkAlleVei(v) as checkalle; else nocheckalle">
                          <ng-container *ngIf="getListaDocumenti(v) as tot">
                            <span>
                                <mat-icon

                                [style.color]="checkalle<tot.length? 'orange':'green'"
                                [innerText]="checkalle<tot.length? 'refresh':'done'"
                                ></mat-icon>
                                Caricati {{checkalle}} di {{tot.length}} documenti
                            </span>

                          </ng-container>
                        </ng-container>
                        <ng-template #nocheckalle>
                            <span>
                                <mat-icon
                                style="color:red"

                                >close</mat-icon>
                                Documenti non Presenti
                            </span>
                        </ng-template>


                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row-custom">
                    <div class="col-custom col-custom-6" >
                      <h3 >Dati Veicolo</h3>
                      <div class=" row-custom">
                        <span >
                          <button mat-flat-button color="primary"
                          style="float:right;background-color: green;"
                          (click)="onClickInsertVei('edit',v,index)"
                          *ngIf="(this.rendicontazione.enable || this.userMe.role === 'superadmin' || this.enableRendicontazione) &&(checkVeicoloEditable(v))"
                          ><mat-icon>refresh</mat-icon>Aggiorna dati Veicolo</button></span>
                          <div >
                            <table style="width:100%">
                                <tbody>
                                    <tr><td>Targa</td><td>{{v.licensePlate}}</td></tr>
                                    <tr><td>Marca</td><td>{{v.brand}}</td></tr>
                                    <tr><td>Modello</td><td>{{v.model}}</td></tr>
                                    <tr><td>Tipo Acquisizione</td><td>{{v.acquisitionType === '01' ? 'Acquisto': 'Leasing'}}</td></tr>
                                    <tr><td>Costo</td><td>{{v.amount | currency:'EUR'}}</td></tr>
                                </tbody>
                            </table>
                        </div>
                      </div>



                    </div>


                    <div class="col-custom col-custom-6">
                      <h3>Documenti necessari</h3>
                      <mat-list dense>
                          <mat-list-item  *ngFor="let alle of getListaDocumenti(v);">
                              <mat-icon
                              mat-list-icon
                              [style.color]="getAllegatoVeicolo(v, alle)?'green':'red'"
                              [innerText]="getAllegatoVeicolo(v, alle)?'done':'cancel'"
                              ></mat-icon>
                              {{getTypeDocumentData(alle).description}}</mat-list-item>
                      </mat-list>
                    </div>
                  </div>
                  <div class="row-custom">
                    <div class="col-custom col-custom-12">
                      <h3>Documenti Veicolo</h3>

                        <button mat-raised-button *ngIf="(this.rendicontazione.enable  || this.userMe.role === 'superadmin' || this.enableRendicontazione)  &&(checkVeicoloEditable(v))" (click)="newAllegato(v)" color="primary">Inserisci Documento</button>
                       <!-- <div class="table" *ngIf="listAlleFiltered.length > 0">
                          <table style="width:95%;">
                              <thead>
                                  <tr>
                                      <th>Tipo Documento</th>
                                      <th>Data Caricamento</th>
                                      <th>Note</th>
                                      <th style="text-align: right;">Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let alle of listAlleFiltered; let index = index">
                                      <td>{{getTypeDocumentData(alle.typeDocument).description}}</td>
                                      <td>{{alle.createdAt | date:'dd/MM/yyyy HH:mm'}}</td>
                                      <td>{{alle.note}}</td>
                                      <td style="text-align: right;">

                                          <button mat-icon-button
                                              aria-label="Example icon button with a vertical three dot icon"
                                              matTooltip="Visualizza Documento"
                                              matTooltipPosition="above"
                                              (click)="viewAllegato(alle.fd)"
                                              color="primary"
                                              ><mat-icon>preview</mat-icon>
                                          </button>

                                          <button mat-icon-button
                                                  aria-label="Example icon button with a vertical three dot icon"
                                                  matTooltip="Scarica Documento"
                                                  matTooltipPosition="above"
                                                  (click)="downloadAllegato(alle.fd)"
                                                  color="accent"
                                                  ><mat-icon>download</mat-icon>
                                          </button>
                                          <button mat-icon-button
                                                  aria-label="Example icon button with a vertical three dot icon"
                                                  matTooltip="Aggiorna Documento"
                                                  matTooltipPosition="above"
                                                  *ngIf="this.rendicontazione.enable || this.userMe.role !== 'user'"
                                                  (click)="onClickEditAllegato('edit',v,alle,index)"
                                                  style="color:green;"
                                                  ><mat-icon>sync</mat-icon>
                                          </button>

                                          <button mat-icon-button
                                          aria-label="Example icon button with a vertical three dot icon"
                                          matTooltip="Elimina Documento"
                                          matTooltipPosition="above"
                                          *ngIf="this.rendicontazione.enable || this.userMe.role !== 'user'"
                                          (click)="onClickDeleteAllegato(alle)"
                                          color="accent"
                                          style="color:red;"
                                          ><mat-icon>close</mat-icon>
                                          </button>


                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                        </div>-->
                        <div class="table-container"*ngIf="listAlleFiltered.length > 0">
                          <table mat-table [dataSource]="listAlleFiltered">
                            <tr mat-header-row *matHeaderRowDef="['type','date','note','action']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['type','date','note','action'];"></tr>
                            <ng-container matColumnDef="type">
                              <th mat-header-cell *matHeaderCellDef> Tipo Documento </th>
                              <td mat-cell *matCellDef="let alle"> {{getTypeDocumentData(alle.typeDocument).description}}
                                <ng-container *ngIf="checkAllegatoIntegrazione(alle) as integrazione">
                                  - <span class=" span-status pending">{{integrazione}}</span>
                                 </ng-container>


                              </td>
                            </ng-container>
                            <ng-container matColumnDef="date">
                              <th mat-header-cell *matHeaderCellDef> Data Caricamento </th>
                              <td mat-cell *matCellDef="let alle"> {{alle.createdAt | date:'dd/MM/yyyy HH:mm'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="note">
                              <th mat-header-cell *matHeaderCellDef> Note </th>
                              <td mat-cell *matCellDef="let alle"> {{alle.note}} </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                              <th mat-header-cell *matHeaderCellDef> Action </th>
                              <td mat-cell *matCellDef="let alle;let index = index">
                                <button mat-icon-button
                                    aria-label="Example icon button with a vertical three dot icon"
                                    matTooltip="Visualizza Documento"
                                    matTooltipPosition="above"
                                    (click)="viewAllegato(alle.fd)"
                                    color="primary"
                                    ><mat-icon>preview</mat-icon>
                                </button>

                                <button mat-icon-button
                                        aria-label="Example icon button with a vertical three dot icon"
                                        matTooltip="Scarica Documento"
                                        matTooltipPosition="above"
                                        (click)="downloadAllegato(alle.fd)"
                                        color="accent"
                                        ><mat-icon>download</mat-icon>
                                </button>
                                <button mat-icon-button
                                        aria-label="Example icon button with a vertical three dot icon"
                                        matTooltip="Aggiorna Documento"
                                        matTooltipPosition="above"
                                        *ngIf="(this.rendicontazione.enable || this.userMe.role !== 'user' || this.enableRendicontazione) &&(checkAllegatoEditable(alle, v))"
                                        (click)="onClickEditAllegato('edit',v,alle,index)"
                                        style="color:green;"
                                        ><mat-icon>sync</mat-icon>
                                </button>

                                <button mat-icon-button
                                  aria-label="Example icon button with a vertical three dot icon"
                                  matTooltip="Elimina Documento"
                                  matTooltipPosition="above"
                                  *ngIf="this.rendicontazione.enable || this.userMe.role !== 'user' || rthis.enableRendicontazione"
                                  (click)="onClickDeleteAllegato(alle)"
                                  color="accent"
                                  style="color:red;"
                                ><mat-icon>close</mat-icon>
                                </button>

                            </ng-container>
                          </table>
                        </div>


                    </div>
                  </div>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

      </ng-container>
      <ng-template #newVei>
        <div class="row-custom" *ngIf="this.rendicontazione.enable || this.enableRendicontazione">
            <button  style="margin:15px;" mat-raised-button (click)="onClickInsertVei('create')" color="primary">Inserisci nuovo veicolo</button>

        </div>
      </ng-template>



    </ng-template>
  </div>
</div>
