<mat-card  *ngIf="!isLoading">
    <mat-card-header>
      <div matCardAvatar>
        <mat-icon class="type-icon" mat-list-icon [class]="getOperationTask()">
          {{(getOperationTask() | statusTask)?.icon}}

        </mat-icon></div>
        <mat-card-title>{{this.desk.name}}</mat-card-title>
        <mat-card-subtitle>{{(getOperationTask() | statusTask)?.text}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content   [@slideInOut]="animationState">
      <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start"  fxLayoutGap="30px">
        <div  fxFlex="100" fxFlex.xs="100" *ngIf="this.projectInprogress.length > 0">
          <h4>In corso</h4>
          <ng-container  *ngFor="let project of this.projectInprogress">
            <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start">
              <h3   fxFlex="100">{{project.internalCode}} <span class="span-title"
                [class.standard]="project.type === '2'"
                [class.urgent.blink]="project.type === '3'"
                [class.blink]="project.type === '3'"
                [innerText]="project.type | priority"
              >
              </span></h3>
            </div>
            <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start">
              <div  fxFlex="50" fxFlex.xs="100">

                <mat-list >
                  <div mat-subheader>Lavorazioni</div>
                  <mat-list-item >

                    <div matLine *ngFor="let item of getTaskData(project.id)?.checkList">
                      <mat-icon class="type-icon" mat-list-icon [class]="item.status">{{(item.status | statusTask).icon}}</mat-icon>
                          {{(item.type | typeOperation)?.text}}
                    </div>
                  </mat-list-item>
              </mat-list>
              </div>
               <div  fxFlex="50" fxFlex.xs="100">
                <mat-list >
                  <div mat-subheader>Operatori</div>
                  <mat-list-item  *ngFor="let op of getTaskData(project.id)?.operators">
                   {{getEmployeeData(op)}}
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </ng-container>











        </div>
      </div>

    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-button  (click)="toggleShowDiv()" >Dettagli</button>


    </mat-card-actions>

</mat-card>
