
<mat-toolbar class="container-toolbar">
  <span class="container-toolbar-title" >Trend Fatturato e m<sup>3</sup> legname</span>
</mat-toolbar>
<mat-card class="container-card">
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutGap="16px grid" >

      <div fxFlex="50%" >
          <app-test-chart-a></app-test-chart-a>
      </div>
      <div fxFlex="50%" >
        <app-test-chart-c></app-test-chart-c>
    </div>

      </div>
      <div fxLayout="row wrap" fxLayoutGap="16px grid" >
        <div fxFlex="100%" >
          <app-test-chart-b></app-test-chart-b>
       </div>
      </div>
  </mat-card-content>
</mat-card>
