<h1 mat-dialog-title>Check List Avvio attività</h1>

<mat-dialog-content *ngIf="!isLoading">

<div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="space-around start" fxLayoutGap="30px">
  <div fxFlex="50">
    <h2>Seleziona le attività da avviare</h2>
      <form [formGroup]="form">
      <div class="mat-form-field"  style="font-size: xx-large; padding:15px;"*ngFor="let item of this.task.checkList">
        <mat-checkbox [formControlName]="item.type" >  {{(item.type | typeOperation).text }}</mat-checkbox>
      </div>
    </form>
  </div>
  <div fxFlex="50">
    <h2>Seleziona gli operatori</h2>


    <form [formGroup]="formOperator">
      <ng-container *ngIf="!showFieldEditOperators; else formOp">
        <div class="mat-form-field"  style="font-size: xx-large; padding:15px;"*ngFor="let item of this.task.operators">
          <mat-checkbox [formControlName]="item" >  {{getOperatorData(item)}}</mat-checkbox>
        </div>
      </ng-container>
      <ng-template #formOp>
        <mat-form-field>
          <mat-label>Operatori</mat-label>
          <mat-select formControlName="operators" multiple>
            <mat-option *ngFor="let op of operators" [value]="op.id">{{op.surname}} {{op.name}}</mat-option>
          </mat-select>
          <mat-hint>Seleziona uno o più operatori</mat-hint>
        </mat-form-field>
      </ng-template>
      <div fxLayout="row">
       <button mat-raised-button  (click)="editOperators(showFieldEditOperators)" color="primary">{{editOperatorsBtnText}}</button>
      </div>
    </form>
    <!-- <form [formGroup]="form">


    </form> -->
  </div>
</div>




</mat-dialog-content>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-dialog-actions *ngIf="!isLoading">
  <button fxFlex (click)="onClickSubmit()" [disabled]="showFieldEditOperators" color="primary"class="dialog-button"mat-raised-button style="background-color:green;color:white;">Avvia</button>

  <button  fxFlex   class="dialog-button" mat-raised-button mat-dialog-close color="warn">Chiudi</button>

</mat-dialog-actions>
