
<mat-toolbar class="container-toolbar">
  <span class="container-toolbar-title" [innerText]="'project.dashboard.title' | translate"></span>
</mat-toolbar>
<mat-card class="container-card">
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutGap="16px grid"  *ngIf="!isLoading ">

      <div fxFlex="33%" *ngFor="let desk of desks">
          <app-desk-card
            [desk]="desk"
            [projects]="projects"
            [employees]="employees"
            [tasks]="tasks"
            ></app-desk-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
