
<mat-card>
    <mat-card-header>
      <div matCardAvatar>
        <mat-icon class="type-icon" mat-list-icon [class]="this.project.status">
          {{(this.project.status | statusTask)?.icon}}
        </mat-icon>
      </div>
        <mat-card-title>{{this.project.internalCode}}</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-list dense>
            <mat-list-item *ngFor="let task of tasks">
              <div matLine>{{getDeskData(this.task.idDesk).name}}</div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>


</mat-card>
