<h1 mat-dialog-title>{{this.dialogTitle}}</h1>
<mat-dialog-content>

  <div fxLayout="row" fxLayoutAlign="start start" >

    <div fxFlex="33">
      <mat-list dense>
        <mat-list-item>
           <div mat-line>Data Caricamento</div>
           <div mat-line>{{this.allegato.dataUpload | date:'dd/MM/yyyy'}}</div>
        </mat-list-item>
        <mat-list-item>
            <div mat-line>Note Caricamento</div>
            <div mat-line>{{this.allegato.note}}</div>
         </mat-list-item>
         <ng-container *ngIf="this.type === 'cert' && this.allegato.jsonData">
            <mat-list-item *ngIf="this.allegato.jsonData['unita_lavorative']">
                <div mat-line>Unità Lavorative</div>
                <div mat-line>{{this.allegato.jsonData['unita_lavorative']}}</div>
             </mat-list-item>
             <mat-list-item *ngIf="this.allegato.jsonData['volumi_fatturato']">
                <div mat-line>Volumi Fatturato</div>
                <div mat-line>{{this.allegato.jsonData['volumi_fatturato'] | currency: 'EUR':'symbol':'.2-2':'it'}}</div>
             </mat-list-item>
         </ng-container>
    </mat-list>

            <form [formGroup]="form" style="padding:0 17px;">
              <div fxLayout="column" fxLayoutAlign="start start" >
                <mat-form-field fxFlex>
                  <mat-label>Note</mat-label>
                  <input matInput
                  type="note"
                  formControlName="adminNote"
                  >

                  </mat-form-field>
                    <mat-form-field fxFlex>
                      <mat-label>
                        Stato Lavorazione
                      </mat-label>
                      <mat-select formControlName="adminState">
                          <mat-option *ngFor="let statusCheck of filterOptionsDescriptors.statusCheck" [value]="statusCheck.value">
                            {{statusCheck.title | statusCheck}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>


            </form>

            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="30px">

              <button fxFlex mat-raised-button color="primary"
              (click)="downloadAllegato(allegato.fd)"


              >Scarica Documento</button>
              <button fxFlex
              (click)="viewAllegato(allegato.fd)"
              class="center" style="min-width: 200px;"mat-raised-button color="warn">Apri in una nuova scheda</button>
            </div>


    </div>
    <div fxFlex="66"*ngIf="this.file">
          <pdf-viewer [src]="this.file"
            [render-text]="true"
            [original-size]="false"
            style="width: 100%; height:65vh;"
            ></pdf-viewer>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" mat-dialog-close>Chiudi </button>
  <button mat-raised-button color="primary" (click)="onSubmitBtn()">{{btnSubmit}}</button>
</mat-dialog-actions>
