
<mat-toolbar class="container-toolbar">
  <span class="container-toolbar-title" [innerText]="'project.list.title' | translate"></span>
</mat-toolbar>
<mat-card class="container-card">
  <mat-card-content>


    <div [formGroup]="filters" fxLayout="row"  fxLayout.xs="column">
      <div fxFlex="20" fxFlex.xs="100" >
        <h3><mat-icon>search</mat-icon> Ricerca Fitok</h3>
      </div>
      <div fxFlex="40" fxFlex.xs="100" >
          <mat-form-field appearance="standard" style="width:90%;">
              <mat-label>Cerca</mat-label>
              <input matInput
              formControlName="term"
              placeholder="Ricerca per nome"
              [matAutocomplete]="auto"
              >
              <mat-autocomplete  #auto="matAutocomplete"  >
                <mat-option *ngFor="let option of dataSource" (onSelectionChange)='selectedFitok($event, option)'>
                  {{option.fitok}}
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>

      </div>
    </div>

    <app-fitokdata-view
    #fitokdata
    *ngIf="this.showPage"
    [fitok]="fitok"
    [project]="project">
    </app-fitokdata-view>
  </mat-card-content>
</mat-card>
