
<ng-container>
  <div fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="30" fxFlex.xs="100" >
      <h2>Fitok: <span class="span-title">{{fitok.fitok}}</span></h2>
    </div>
    <div fxFlex="50" fxFlex.xs="100" >
      <div  fxLayout="row" fxLayoutAlign="start center"  >
          <h3 fxFlex="50"fxFlex>Stato: <span  class="span-title" [class]="this.project.status">{{(this.project.status | statusTask)?.text}}</span></h3>
          <button
          *ngIf="this.project.status === 'toPlan' && !this.form"
          fxFlex="30"fxFlex mat-raised-button color="primary"
          (click)="onClickPlan()"
          >
          Programma Attività</button>
      </div>
    </div>
    <div fxFlex="20" fxFlex.xs="100" >
      <div  fxLayout="row" fxLayoutAlign="end center"  >
        <div fxFlex="30" fxFlex.xs="100" >
          <button mat-mini-fab (click)="viewFile('/assets/test.pdf')" color="warn" aria-label="Example icon button with a delete icon">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
        </div>
        <div fxFlex="30" fxFlex.xs="100" >
          <button mat-mini-fab color="accent" aria-label="Example icon button with a delete icon">
            <mat-icon>3d_rotation</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div  fxLayout="row" fxLayoutAlign="space-around start"fxLayout.xs="column" fxLayoutGap="20px">
    <!--info fitok start-->
    <div fxFlex="30" >
        <h4>Packaging</h4>
          <mat-list dense >
            <div fxLayout="row" >
                <div fxFlex="50">
                  <mat-list-item class="fitok-list">
                    <div mat-line>Tipologia</div>
                    <div mat-line>{{fitok.type}} </div>
                  </mat-list-item>

                  <mat-list-item class="fitok-list">
                    <div mat-line>Materiale</div>
                    <div mat-line>{{fitok.material}} </div>
                  </mat-list-item>

                  <mat-list-item class="fitok-list">
                    <div mat-line>Quantità</div>
                    <div mat-line>{{fitok.quantity}} </div>
                  </mat-list-item>
                </div>
                <div fxFlex="50">
                  <mat-list-item class="fitok-list">
                    <div mat-line>Lunghezza</div>
                    <div mat-line>{{fitok.length}} </div>
                  </mat-list-item>

                  <mat-list-item class="fitok-list">
                    <div mat-line>Larghezza</div>
                    <div mat-line>{{fitok.width}} </div>
                  </mat-list-item>

                  <mat-list-item class="fitok-list">
                    <div mat-line>Altezza</div>
                    <div mat-line>{{fitok.height}} </div>
                  </mat-list-item>
                </div>
            </div>
          </mat-list>
    </div>
    <div fxFlex="60" >
      <h4>Materie Prime</h4>
        <mat-list dense >
          <div fxLayout="row" >
            <div fxFlex="20">
              <mat-list-item class="fitok-list">
                <div mat-line>Abete</div>
                <div mat-line>{{fitok.firCm}} m<sup>3</sup> </div>
              </mat-list-item>

              <mat-list-item class="fitok-list">
                <div mat-line>Compensato</div>
                <div mat-line>{{fitok.plywoodCm}} m<sup>3</sup></div>
              </mat-list-item>

              <mat-list-item class="fitok-list">
                <div mat-line>OBS</div>
                <div mat-line>{{fitok.osbCm}} m<sup>3</sup></div>
              </mat-list-item>
            </div>
            <div fxFlex="20">
              <mat-list-item class="fitok-list">
                <div mat-line>Carta Catramata</div>
                <div mat-line>- </div>
              </mat-list-item>

              <mat-list-item class="fitok-list">
                <div mat-line>Tot Carta Catramata m<sup>2</sup></div>
                <div mat-line>-</div>
              </mat-list-item>

              <mat-list-item class="fitok-list">
                <div mat-line>Cad Carta Catramata m<sup>2</sup></div>
                <div mat-line>- </div>
              </mat-list-item>
            </div>
            <div fxFlex="20">
              <mat-list-item class="fitok-list">
                <div mat-line>Sacco barriera</div>
                <div mat-line>- </div>
              </mat-list-item>

              <mat-list-item class="fitok-list">
                <div mat-line>Riv<sup>3</sup></div>
                <div mat-line>- </div>
              </mat-list-item>

              <mat-list-item class="fitok-list">
                <div mat-line>Fix<sup>3</sup></div>
                <div mat-line>- </div>
              </mat-list-item>
            </div>
            <div fxFlex="20">
              <mat-list-item class="fitok-list">
                <div mat-line>VciY</div>
                <div mat-line>- </div>
              </mat-list-item>

              <mat-list-item class="fitok-list">
                <div mat-line>Tot VCI m<sup>2</sup></div>
                <div mat-line>- </div>
              </mat-list-item>

              <mat-list-item class="fitok-list">
                <div mat-line>CAD VCI m<sup>2</sup></div>
                <div mat-line>- </div>
              </mat-list-item>
            </div>
            <div fxFlex="20">
              <mat-list-item class="fitok-list">
                <div mat-line>BoltY</div>
                <div mat-line>-</div>
              </mat-list-item>

              <mat-list-item class="fitok-list">
                <div mat-line>tot Bolt m<sup>2</sup></div>
                <div mat-line>-</div>
              </mat-list-item>

              <mat-list-item class="fitok-list">
                <div mat-line>Cad Bolt m<sup>2</sup></div>
                <div mat-line>-</div>
              </mat-list-item>
            </div>

          </div>

        </mat-list>
    </div>
    <!--info fitok end-->
  </div>
  <mat-divider></mat-divider>
  <div  fxLayout="row" fxLayoutAlign="space-around start"fxLayout.xs="column" fxLayoutGap="20px">
      <div fxFlex="30">
        <!--project start-->
        <ng-container *ngIf="this.project.status !== 'toPlan'">

          <h4>Riepilogo Pianificazione</h4>
          <mat-list dense>
            <div fxLayout="row"  fxLayout.xs="column">
              <mat-list-item class="fitok-list">
                  <div mat-line>Data Inizio Pianificata</div>
                  <div mat-line>{{this.project.datePlanStart| date:"dd/MM/YYYY"}} </div>
              </mat-list-item >

              <mat-list-item class="fitok-list">
              <div mat-line>Data Fine Pianificata</div>
              <div mat-line>{{this.project.datePlanEnd| date:"dd/MM/YYYY"}} </div>
              </mat-list-item>
            </div>
              <div fxLayout="row"  fxLayout.xs="column">
              <mat-list-item class="fitok-list">
                <div mat-line>Data Consegna</div>
                <div mat-line>{{this.project.dateDelivery| date:"dd/MM/YYYY"}} </div>
              </mat-list-item>

              <mat-list-item class="fitok-list">
                <div mat-line>Priorità</div>
                <div mat-line>{{this.project.type | priority}} </div>
              </mat-list-item>
            </div>
          </mat-list>
          <mat-divider></mat-divider>


        </ng-container>


      </div>
      <div fxFlex="70">
        <ng-container *ngIf="form && this.project.status === 'toPlan'">
          <h4>Pianificazione</h4>
          <form [formGroup]="form">
            <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start"  fxLayoutGap="30px">

                <mat-form-field appearance="standard" fxFlex="30" fxFlex.xs="100">
                    <mat-label>Data Inizio Lavorazione</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="datePlanStart">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="form.get('datePlanStart').invalid" [innerHTML]="form.get('datePlanStart') | errors"></mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard" fxFlex="30" fxFlex.xs="100">
                  <mat-label>Data Fine Lavorazione</mat-label>
                  <input matInput [min]="this.form.controls.datePlanStart.value" [matDatepicker]="picker2" formControlName="datePlanEnd">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                  <mat-error *ngIf="form.get('datePlanEnd').invalid" [innerHTML]="form.get('datePlanEnd') | errors"></mat-error>

              </mat-form-field>

              <mat-form-field appearance="standard" fxFlex="30" fxFlex.xs="100">
                <mat-label>Data Consegna</mat-label>
                <input matInput [min]="this.form.controls.datePlanEnd.value" [matDatepicker]="picker3" formControlName="dateDelivery">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
                <mat-error *ngIf="form.get('dateDelivery').invalid" [innerHTML]="form.get('dateDelivery') | errors"></mat-error>

            </mat-form-field>

            </div>
            <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start center"  fxLayoutGap="30px">

              <mat-form-field appearance="standard" fxFlex="30" fxFlex.xs="100">
                <mat-label>Priorità</mat-label>
                <mat-select formControlName="type">
                  <mat-option *ngFor="let item of this.type" [value]="item.value">
                    {{item.label}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('type').invalid" [innerHTML]="form.get('type') | errors"></mat-error>

              </mat-form-field>

              <div fxFlex>
                <button
                mat-raised-button
                (click)="onClickPlanSubmit()"
                color="primary">Inserisci Pianificazione</button>
              </div>
            </div>
          </form>

        </ng-container>
        <!--project start-->
        <ng-container *ngIf="this.project.status !== 'toPlan' && this.project.status !== 'completed'">
          <h4>Inserimento Attività</h4>

          <ng-container *ngIf="this.formTask">
            <form [formGroup]="formTask">
              <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start" fxLayoutGap="20">

                <mat-form-field fxFlex="25"  fxFlex.xs="100" >
                  <mat-label>Postazione</mat-label>
                  <mat-select formControlName="idDesk">
                    <mat-option disabled>Seleziona una postazione</mat-option>
                    <mat-option *ngFor="let desk of dropDesk" [value]="desk.id">{{desk.name}}</mat-option>
                  </mat-select>
                </mat-form-field>


                <mat-form-field  fxFlex="25"  fxFlex.xs="100">
                  <mat-label>Tipo Lavorazione</mat-label>
                  <mat-select formControlName="typeOperations" multiple>
                    <mat-option *ngFor="let type of testoption" [value]="type.key">{{type.value}}</mat-option>

                  </mat-select>
                </mat-form-field>


                <mat-chip-list fxFlex="50"  fxFlex.xs="100">
                  <mat-chip *ngFor="let topping of this.formTask.controls.typeOperations.value"
                    [removable]="true" (removed)="onToppingRemovedOption(topping, 'typeOperations')">
                    {{ this.filterOption(topping) }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>

            </div>
            <div fxLayout="row" fxLayout.xs="column"fxLayoutAlign="start" fxLayoutGap="20">

                <mat-form-field fxFlex="25" fxFlex.xs="100">
                  <mat-label>Operatori</mat-label>
                  <mat-select formControlName="operators" multiple>
                    <mat-option *ngFor="let op of dropOperator" [value]="op.id">{{op.surname}} {{op.name}}</mat-option>
                  </mat-select>
                  <mat-hint>Seleziona uno o più operatori</mat-hint>
                </mat-form-field>



                <mat-chip-list fxFlex="75" fxFlex.xs="100">
                  <mat-chip style="background-color: lightgreen;color:black"
                  *ngFor="let topping of this.formTask.controls.operators.value"
                    [removable]="true" (removed)="onToppingRemovedOption(topping, 'operators')">
                    {{ filterOperator(topping) }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>


            </div>

            </form>
          </ng-container>
          <ng-template *ngIf="tasks.length == 0">
            <p>Non ci sono attività programmate</p>

        </ng-template>
        <div fxLayout="row">
          <button *ngIf="!formTask" (click)="onClickInsertTask()" mat-raised-button color="primary">Inserisci Attività</button>
          <button *ngIf="formTask" (click)="onClickTaskSubmit()" mat-raised-button color="primary">Salva  Attività</button>

        </div>




        </ng-container>
      </div>
  </div>
  <mat-divider></mat-divider>
    <ng-container *ngIf="tasks && tasks.length > 0">
      <div fxLayout="row">
        <div  fxFlex="100" class="table-container" >
          <h4>Riepilogo Attività</h4>
          <table mat-table #table [dataSource]="tasks">

              <tr mat-header-row *matHeaderRowDef="displayedColumnsTask; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsTask;"></tr>


              <ng-container matColumnDef="desk">
                <th mat-header-cell *matHeaderCellDef> Postazione </th>
                <td mat-cell *matCellDef="let element"> {{this.filterDesk(element.idDesk).name}} </td>
              </ng-container>

              <ng-container matColumnDef="phase">
                <th mat-header-cell *matHeaderCellDef> Fase </th>
                <td mat-cell *matCellDef="let element"> {{this.filterDesk(element.idDesk).phase | phase}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Stato </th>
                <td mat-cell *matCellDef="let element">
                  <span  class="span-title" [class]="element.status">{{(element.status | statusTask)?.text}}</span>

                </td>
              </ng-container>



              <ng-container matColumnDef="operators">
                <th mat-header-cell *matHeaderCellDef> Operatori </th>
                <td mat-cell *matCellDef="let element">

                  <span  class="span-title success"
                  style="margin-right: 2%;"
                  *ngFor="let chip of element.operators">
                    {{filterOperator(chip)}}
                  </span>


                </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Tipo Lavorazione </th>
                <td mat-cell *matCellDef="let element">
                  <span  class="span-title inprogress"
                  style="margin-right: 2%;"
                  *ngFor="let chip of element.typeOperations">
                  {{filterOption(chip)}}
                  </span>
              </ng-container>
              <ng-container matColumnDef="workingTime">
                <th mat-header-cell *matHeaderCellDef> Tempi </th>
                <td mat-cell *matCellDef="let element">
                  <ng-container *ngIf="element.workingDeskMinutes && element.workingOperatorsMinutes">
                    Postazione: {{element.workingDeskMinutes | MinutesToHours}} h<br>
                    Operatori:  {{element.workingOperatorsMinutes | MinutesToHours}} h
                  </ng-container>


              </ng-container>



              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element;let i = index;">

                    <button *ngIf="element.status !== 'completed'"
                        mat-icon-button
                        color="primary"
                        style="color:green"
                        aria-label="Example icon button with a home icon"
                       (click)="onClickTaskEdit('edit', element,i)"
                      >
                        <mat-icon>edit_square</mat-icon>
                    </button>
                    <button *ngIf="element.status === 'completed'"
                    mat-icon-button
                    color="primary"
                    aria-label="Example icon button with a home icon"
                   (click)="onClickTaskEdit('view', element,i)"
                  >
                    <mat-icon>description</mat-icon>
                </button>

                    <button   (click)="onClickTaskEdit('delete', element,i)" *ngIf="element.status !== 'completed'" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
          </table>

        </div>
      </div>
    </ng-container>


</ng-container>



