.button-status{
  background-color: #daefe4;
  color: #086f38;

}
.button-status-a{
  background-color: #daefe4;
  color: #086f38;

}
.button-status-b{
  background-color: #dae1ef;
  color: #08276f;

}
.mat-table{
  width:100%;
}

.span-title{
  background-color: #dbffdb;
  color: green;
  padding: 5px 10px;
  border-radius: 10px;
}
.scheduled{
  background-color: #dae1ef;
  color: #08276f;
}
.toPlan{
  background-color: #daeeef;
  color: #396466;
}
.inprogress{
  background-color: #ffa50014;
  color: orange;
}
.paused{
  background-color: #efdae4;
  color: #6f082a;
}
.completed{
  background-color: #daefe0;
  color: green;
}


.fitok-list{
  height: 45px !important;
}

::ng-deep .success-snack-style{
  background-color:green;
  color:white;
  .mat-simple-snackbar-action {
      color: white !important;
  }
}

::ng-deep .error-snack-style{
  background-color:red;
  color:white;
  .mat-simple-snackbar-action {
      color: white !important;
  }
}
